#container {
  margin: 50px;
}

#sortBy.form-control {
  display: inline-block;
  width: 300px;
  margin: 0 0 20px 20px;
}

.addButtonContainer {
  margin: 0 0 20px 0;
  display: inline-block;
}

.moviesContainer {
  display: flex;
  flex-flow: row wrap;
}

.movieItem {
  padding: 20px;
  margin: 0 0 20px 20px;
  box-shadow: 0 0 5px #666;
  border-radius: 4px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

    img {
      max-width: 100%;
    }

}

.addMovieModalOverlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: #000;
  opacity: 0.8;
}
.addMovieModalForm {
  z-index:10000;
  position: absolute;
  width: 50%;
  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #666;
  border-radius: 5px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 4px 4px 30px #ccc;
}
.addMovieModalFormContent {
  padding:10px;
  text-align: left;
}
.addMovieModalClose {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}
