<div class="moviesView">

    <my-header></my-header>

    <div class="controlsContainer">

        <div class="addButtonContainer">
            <button
                    type="button"
                    class="btn btn-info"
                    ng-click="ctrl.showModal()">
                Add a movie
            </button>
        </div>

        <select
                class="form-control pull-right"
                name="sortBy"
                id="sortBy"
                ng-model="ctrl.sortBy"
                ng-options="sortOption.label for sortOption in ctrl.sortOptions"
                ng-change="ctrl.sortingChanged(ctrl.sortBy)">
        </select>

    </div>

    <div class="moviesContainer">
        <div class="movieItem" ng-repeat="movie in ctrl.movies">
            <div class="movieTextLinesContainer">
                <div class="movieLine">
                    <span class="nameLabel">Name: </span>
                    <span class="nameValue"><b>{{ movie.name }}</b></span>
                </div>
                <div class="movieLine">
                    <span class="dirLabel">Director: </span>
                    <span class="dirValue"><b>{{ movie.director }}</b></span>
                </div>
                <div class="movieLine">
                    <span class="yearLabal">Year: </span>
                    <span class="yearValue"><b>{{ movie.year }}</b></span>
                </div>
            </div>
            <div class="movieImgContainer">
                <img src="{{ movie.imageURL }}" alt="{{ movie.name }}"/>
            </div>
        </div>
    </div>

    <div class="moviesModalWindow" width='50%' height='60%'>
        <div class="addMovieModalContainer" ng-show='ctrl.modalShown'>
            <div class='addMovieModalOverlay' ng-click='ctrl.hideModal()'></div>
            <div class='addMovieModalForm' >
                <div class='addMovieModalClose close' ng-click='ctrl.hideModal()' aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </div>
                <div class='addMovieModalFormContent' >
                    <form name="addForm">
                        <div class="form-group">
                            <label for="newMovieName">Movie name:</label>
                            <input type="text" id="newMovieName" placeholder="Add name" class="form-control"
                                   ng-model="ctrl.newMovie.name"/>
                        </div>
                        <div class="form-group">
                            <label for="newMovieDirector">Movie director: </label>
                            <input type="text" id="newMovieDirector" placeholder="Add director"
                                   class="form-control" ng-model="ctrl.newMovie.director"/>
                        </div>
                        <div class="form-group">
                            <label for="newMovieYear">Movie year: </label>
                            <input type="number" min="1900" max="2099" step="1" placeholder="Add year"
                                   id="newMovieYear" class="form-control" ng-model="ctrl.newMovie.year"/>
                        </div>
                        <div class="form-group">
                            <label for="newMovieImageURL">Movie image: </label>
                            <input type="text" placeholder="Add cover image URL"
                                   id="newMovieImageURL" class="form-control" ng-model="ctrl.newMovie.imageURL"/>
                        </div>
                        <input type="submit" class="btn btn-info" ng-click="ctrl.addNewMovie(ctrl.newMovie)"
                               value="Add"/>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>